@media (max-width: 768px){
    section{
        padding: 30px 10px !important;
    }

    nav{
        padding: 10px;
        flex-direction: column;
        margin-bottom: 0;
        padding-bottom: 10px !important;
        gap: 0;
    }
    
    .nav-header{
        width: 100%;
    }

    .nav-body{
        width: 100%;
        height: 0;
        gap: 10px;
        flex-direction: column;
        overflow: hidden;
    }

    .nav-logo{
        width: 50px;
        height: 50px;
    }


    #hero{
        top: 0;
        height: 200px;
        padding: 0;
    }

    #hero img{
        height: 100%;
        width: 100%;
        top: 0;
        object-fit: cover;
    }


    .footer-detail{
        padding: 10px 0;
    }

    .contact-row{
        gap: 10px;
        justify-content: space-between;
    }

    .contact-col{
        width: 30% !important;
    }
    
    .contact-list{
        gap: 10px !important;
    }

    .contact-row *:not(h1){
        font-size: 10px !important;
    }

    #main{
        padding: 30px 10px;
    }

    #main > h1{
        margin-bottom: 10px;
    }

    #maps iframe{
        height: 200px;
    }
    
    .content-body{
        gap: 10px;
    }

    .content > h1{
        margin-top: 10px;
        text-align: center;
    }

    .content-side{
        padding: 0;
    }

    .content-side li{
        width: 100%;
    }

    .content-side a{
        width: 100%;
        font-size: 12px !important;
        word-wrap: break-word;
        padding: 0;
    }

    /**
    * Katalog
    */
    .product{
        flex-direction: column;
    }

    #product > h1 {
        margin-bottom: 0;
    }

    .product-image{
        width: 100%;
    }

    .product-image img{
        height: 100%;
        width: 100%;
        object-fit: cover;
    }

    .product-detail {
        width: 100%;
    }

    /**
    * Berita
    */
    .berita-img{
        width: 100px !important;
        overflow: hidden;
    }
    
    .berita-detail{
        width: calc(100% - 100px);
    }
}